@charset "UTF-8";

body {
  width: 100%;
  padding-top: 100px;
  color: #1A1311;
  font-size: 1.6rem;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
  text-align: center;
  margin-bottom: 50px;
}

.container {
  width: 85.4166666666667%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* --------------------------------
 * TOP
 * -------------------------------- */
.top {
  background: #ffffff;
  margin-bottom: 125px;
}

/* slide */
.slide {
  position: relative;
  height: 530px;
  margin-bottom: 56px;
  overflow: hidden;
}


.slide #slide-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  padding-right: 80px;
  position: relative;
}

.slide-item {
  width: 23.68421%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.slide-item.active {
  width: 47.36842%;
}

#slide-list-velocity .slide-item {
  width: 22.5% !important;
}

.slide-item .slide-imgbox {
  padding-top: 100%;
}


#slide-list-velocity .slide-item.fire-slider-active {
  width: 45% !important;
}

.slide-item.fire-slider-active .slide-txtbox,
.slide-item.active .slide-txtbox {
  position: absolute;
  top: 390px;
  right: -590px;
  max-width: 800px;
  padding: 20px 30px;
}

.slide-item.active .slide-txtbox {
  right: 80px;
}

.slide-item.fire-slider-active .slide-txtbox .slide-tit,
.slide-item.active .slide-txtbox .slide-tit {
  font-size: 24px;
  line-height: 1.41667;
}

.slide-item.fire-slider-active .slide-txtbox .slide-time,
.slide-item.active .slide-txtbox .slide-time {
  margin-bottom: 10px;
}

.slide-txtbox {
  padding: 10px 20px 15px;
  background: #FAF9F2;
}

.slide-time {
  display: block;
  color: #22652D;
  font-size: 12px;
  font-style: italic;
  line-height: 2.16667;
}

.slide-tit {
  font-size: 14px;
  line-height: 1.85714;
}

.slide .arrow-r {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 200px;
  right: 0;
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  outline: none;
  background: url("../img/arrow-r.svg") center no-repeat;
  background-color: transparent;
  font-size: 0;
  cursor: pointer;
}

#slide-list-slick .slide-item {
  position: relative;
  width: 265px !important;
  margin-right: 30px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.slide-item .slide-imgbox {
  position: relative;
  padding-top: 100%;
}

#slide-list-slick .slick-active .slide-item {
  width: 530px !important;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#slide-list-slick .slick-active .slide-item .slide-txtbox {
  position: absolute;
  top: 390px;
  right: -590px;
  max-width: 800px;
  padding: 20px 30px;
}

#slide-list-slick .slick-active .slide-item .slide-txtbox .slide-tit {
  font-size: 24px;
  line-height: 1.41667;
}

#slide-list-slick .slick-active .slide-item .slide-txtbox .slide-time {
  margin-bottom: 10px;
}

#slide-list-slick .slide-txtbox {
  padding: 10px 20px 15px;
  background: #FAF9F2;
}

#slide-list-slick .slide-time {
  display: block;
  color: #22652D;
  font-size: 12px;
  font-style: italic;
  line-height: 2.16667;
}

#slide-list-slick .slide-tit {
  font-size: 14px;
  line-height: 1.85714;
}

#slide-list-slick .slick-next {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 200px;
  right: 0;
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  outline: none;
  background: url("../img/arrow-r.svg") center no-repeat;
  background-color: transparent;
  font-size: 0;
  cursor: pointer;
}

#slide-list-slick .slide .slick-next:hover {
  opacity: 0.7;
}

#slide-list-slick .slide .slick-prev {
  display: none;
}